.dialog-styles {
    margin: 0!important;
}

.connect-button {
    width: 160px;
    height: 40px;
    border-radius: 7px;
    transform: scale(1)!important;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    color: black;
    background: white;
    justify-content: center;
}